
body {
    /*color: #74777b;*/
	/*font-weight: 400;*/
    /*color: #30373b;*/
    color: #666666;
    background: #fff;
    font-family: 'Lato', Helvetica, sans-serif;
    /*width: 1080px;*/
    /*margin: auto;*/
    background: #b3b3b0;
    background: -webkit-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
    background: linear-gradient(top, #b3b3b0 0%,#e3e2dd 500px);
    background-color: #e3e2dd;
    background-repeat: no-repeat;
}

a {
    color: #00aeef;
}

a:hover, a:focus {
    color: #46b8da;
    text-decoration: none;
}







/* ************************************************************************************************************************* */
/* ************************************************************************************************************************* */
nav.navbar-default {
    z-index: 1038;
}

.navbar {
    transition: all 0.5s ease-out;
}

.navbar-default {
    background-color: rgba(255,255,255,0.95);
    border-color: #ebebeb;
    border-radius: 0px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}

/*.container {
    background: none !important;
}*/


.navbar-toggle {
    margin-left: 15px;
}

.navbar-fat .nav-logo {
    height: 62px;
}

.nav-logo {
    transition: all 0.5s ease-out;
    padding: 0 15px;
}

a, a:hover {
    text-decoration: none;
}

a {
    color: #0AC;
}

.nav-logo img {
    max-height: 100%;
    padding: 5px 0;
}

@media (min-width: 1200px) {
    .input-group-lg.gh-input-group-search {
        width: 500px;
        /*margin-top: -6px;*/
    }
}


.gh-input-group-search {
    transition: all 0.5s ease-out;
    /*margin-top: -6px;*/
}

@media (min-width: 1200px) {
    .gh-input-group-search {
        width: 370px;
    }
}

.gh-input-group-search {
     width: 370px; 
     max-width: 100%; 
}

/*.input-group-lg #nav_serach_bar {
    background: #FFF url(../../img/powered_by_c.png) no-repeat scroll right 10px top 15px;
}*/

#nav_serach_bar {
    transition: all 0.5s ease-out;
}

/*#nav_serach_bar {
    background: #FFF url(../../img/powered_by_c.png) no-repeat scroll right 10px top 9px;
}*/

.group-btn_search {
    /* margin-left: -32px; */
    position: relative;
}

.group-btn_search .btn {
    transition: all 0.5s ease-out;
}

.ch-nav-menugroup {
    margin-right: 0;
}

.nav {
    margin-bottom: 0;
}


.navbar-fat .navbar-nav > li > a {
    padding: 21px 15px;
}

.ch-nav-menugroup > li > a {
    transition: all 0.5s ease-out;
}

.navbar-fat .navbar-nav > li > a.user-menu {
    padding: 19px 15px;
}

.navbar-nav > li > a.user-menu {
    /*padding: 13px 15px;*/
}

.navbar-fat .navbar-nav > li > a {
    /*padding: 21px 15px;*/
}

.profile-pic-head {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: inline-block;
}

.user-name {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    text-overflow: ellipsis;
    padding-right: 0px;
    overflow: hidden;
    padding-left: 8px;
    max-width: 175px;
    padding-top: 2px;
}



.navbar, .nav-logo, #nav_serach_bar, .group-btn_search .btn, .ch-nav-menugroup > li > a, .gh-input-group-search {
    transition: all 0.5s ease-out;
}



.input-group-md .input-group-btn > .btn {
    height: 34px;
}


/* ************************************************************************************************************************* */
/* ************************************************************************************************************************* */

.group-btn_search button.btn-info {
    background: #83878c;
    border-color: #83878c;
    border-radius: 0px !important;
}

.gh-input-group-search input.search_input {
    border-radius: 0px;
}



.product-list-block {
    margin-top: 90px;
}

.product-box {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
}

.product-brand img {
    height: 30px;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
}

.product-description {
    color: #74777b;

}

.price-amount.old-price {
    text-decoration: line-through;
}

.product-price > span {
    margin-right: 5px;
}

.main-sidebar {
    position: fixed;
}

.product-box-row {
    
}

.main-sidebar {
    margin-top: 15px;
}

.main-sidebar ul.sidebar {
    list-style: none;
    padding: 0px;
    color: #74777b;
    /*width: 13.5%;*/
}

.main-sidebar ul.sidebar li {
    padding: 8px 5px;
    background: #eee;
    border-bottom: 1px solid #fff;
}

.main-sidebar ul.sidebar li a {
    color: #666;
}








.main-container {
    margin-top: 60px;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

.header {
    padding-top: 30px;
    padding-bottom: 15px;
}

.header > div {
    display: inline-block;
    vertical-align: middle;
}

.heading {
    font-size: 24px;
    font-weight: bold;
}

ul.movie-list {
    margin-top: 15px;
    padding: 0px;
    list-style: none;
}

ul.movie-list li {
    padding: 10px 0px;
    background: 
}

.nav-logo img {
    display: inline-block;
}

.nav-logo span {
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 15px;
}

.movie-default-logo {
    max-width: 50px;
}

table.movie-list tbody tr td {
    vertical-align: middle;
}

table.movie-list {
    margin-top: 30px;
}



