<!DOCTYPE html>
<html lang="en" ng-app="movieApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content ="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="eCommerce" />
    <meta property="og:site_name" content="ecommerce.com"/>
    <meta property="og:url" content="ecommerce.com" />
    <meta property="og:description" content="Description" />
    <!-- <meta property="fb:app_id" content="{{Config::get('facebook.appId')}}" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="" />

    <!-- <base ng-href="{{ root }}"> -->
    <base href="/">
    <!-- <base href="file:///D:/AAA%20-%20Coding%20Challange%20Crowdware/Works/TopMovies_2/"> -->

	<title>Top Movies</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/style.css">
</head>


<body>

	<div class="body-container">
		<!-- <nav class="navbar navbar-ghoori-main navbar-default navbar-fixed-top navbar-fat"> -->
		<nav class="navbar navbar-ghoori-main navbar-default navbar-fixed-top">
		    <div class="container">
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand nav-logo" ng-href="/">
		            	<img src="images/Movie_Studio-Android-R.png">
		            	<span>Movies</span>
		            </a>
		        </div>

	        	<div id="navbar" class="navbar-collapse collapse">
		            <!-- <form class="navbar-form navbar-left" action="">
		                <div class="input-group gh-input-group-search input-group-lg">
		                  <input type="text" class="form-control search_input " placeholder="Search for movie . . ." id="nav_serach_bar" name="q" value="">
		                  <span class="input-group-btn group-btn_search">
		                    <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
		                  </span>
		                </div>
		            </form> -->
		            <div class="navbar-form navbar-left">
		                <div class="input-group gh-input-group-search input-group-md pull-right">
		                  	<input type="text" class="form-control search_input " placeholder="Search for movie . . ." id="movie_search" name="q" value="" ng-model="searchMovieText">
		                </div>
		            </div>
			            

	            	<ul class="nav navbar-nav navbar-right ch-nav-menugroup">
	                	<li>
	                		<a class="" ng-href="/"><i class="fa fa-home"></i> Home</a>
	                	</li>

	            		<li class="">
	                        <a href="javascript:">Top</a>
	                    </li>

	                    <li>
	                    	<a href="javascript:">Popular</a>
	                    </li>

	                    <li>
	                    	<a ng-href="insert"><i class="fa fa-plus" aria-hidden="true"></i> Insert New</a>
	                    </li>
	                    
	                    <li>
	                        <a class="user-menu" href="javascript:">
	                        	<img src="images/user.png" class="profile-pic-head">
	                        	<span class="user-name">Login</span>
	                        </a>
	                    </li>
	                </ul>
	            </div>
		    </div>
		</nav>



		<div class="content">
			<div ng-view></div>
		</div>
	</div>
		






















	<div class="extra-margin" style="margin-top:1000px;"></div>

	Footer

	



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.min.js"></script>

	


	<!-- <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script> -->
	



	<script src="js/main.js"></script>

	<script src="js/movieApp.js"></script>
	<script src="js/movieService.js"></script>
	<script src="js/movieController.js"></script>
	<script src="js/operationController.js"></script>
	<!-- <script src="js/movieService.js"></script> -->
	
	
</body>

</html>