
<div class="container main-container">
	<p>{{ edit }}</p>

	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div id="insertContent">
				  	<form ng-submit="update()">
				  		<div class="form-group">
					    	<label for="id">Movie ID</label>
					    	<input type="text" name="id" ng-model="currentItem.id" class="form-control" id="id" value="{{currentItem.id}}">
					  	</div>

					    <div class="form-group">
					    	<label for="rank">IMDb RanK</label>
					    	<input type="rank" name="rank" ng-model="currentItem.rank" class="form-control" id="rank" value="{{currentItem.rank}}">
					  	</div>

					  	<div class="form-group">
					    	<label for="title">Title</label>
					    	<input type="text" name="title" ng-model="currentItem.title" class="form-control" id="title" value="{{currentItem.title}}">
					  	</div>

					  	<button type="submit" class="btn btn-default">Update</button>

					    <p>{{movie | json }}</p>
				  	</form>
				</div>
			</div>
		</div>
	</div>
</div>