
<div class="container main-container">
	<p>{{ insert }}</p>

	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div id="insertContent">
				  	<form ng-submit="submit()">
				  		<div class="form-group">
					    	<label for="id">Movie ID</label>
					    	<input type="text" name="id" ng-model="movie.id" class="form-control" id="id" placeholder="Movie ID">
					  	</div>

					    <div class="form-group">
					    	<label for="rank">IMDb Ran</label>
					    	<input type="rank" name="rank" ng-model="movie.rank" class="form-control" id="rank" placeholder="IMDb Rank">
					  	</div>

					  	<div class="form-group">
					    	<label for="title">Title</label>
					    	<input type="text" name="title" ng-model="movie.title" class="form-control" id="title" placeholder="Title">
					  	</div>

					  	<button type="submit" class="btn btn-default">Submit</button>

					    <p>{{movie | json }}</p>
				  	</form>
				</div>
			</div>
		</div>
	</div>
</div>