
<div class="container main-container">
	<div class="movie-list-container">
		<!-- <div class="row"> -->
			<!-- <div class="col-sm-6">
				<h4><b>1.</b> Single-way variable binding</h4>
				<b>ng-bind:</b><span class="movieName" ng-bind="movieName"></span>
				<br>
				<b>expression:</b><span class="movieName">{{ movies }}</span>
				<b>expression:</b><span class="movieName">{{ movieName }}</span>
			</div> -->

			<!-- <div class="col-sm-6">
				<h4><b>2.</b> Two-way model binding</h4>
				<input type="text" class="form-control" placeholder="Enter your name" ng-model="myName_2">
				<b>ng-bind:</b><span class="myName_2" ng-bind="myName_2"></span>
				<br>
				<b>expression:</b><span class="myName_2">{{ myName_2 }}</span>
			</div> -->
		<!-- </div> -->

		<div class="row">
			<div class="col-sm-12">
				<header class="header">
					<div class="heading">
						Top Rated Movies
					</div>

					<div class="insert-item pull-right">
						<!-- <a href="javascript:"><i class="fa fa-plus" aria-hidden="true"></i> Insert New</a> -->
						<a ng-href="insert"><i class="fa fa-plus" aria-hidden="true"></i> Insert New</a>
					</div>

					<!-- <div class="input-group gh-input-group-search input-group-md pull-right">
	                  	<input type="text" class="form-control search_input " placeholder="Search for movie . . ." id="movie_search" name="q" value="" ng-model="searchMovieText">
	                </div> -->
				</header>

				<!-- <div class="insert-item pull-right">
					<a href="javascript:"><i class="fa fa-plus" aria-hidden="true"></i> Insert New</a>
				</div> -->

				<table class="table table-striped movie-list">
				    <thead>
				      	<tr>
					        <th>Cover</th>
					        <th>IMDb Rank</th>
					        <th>Title</th>
					        <th>Movie ID</th>
					        <th>Action</th>
				      	</tr>
				    </thead>

				    <tbody>
				      	<tr ng-repeat="(key, movie) in movies | filter:searchMovieText">
					        <td><img src="images/movie-icon-21.png" class="img-responsive movie-default-logo"></td>
					        <td>{{ movie.rank }}</td>
					        <td>{{ movie.title }}</td>
					        <td>{{ movie.id }}</td>
					        <td>
					        	<a ng-href="edit/{{ movie.id }}" ng-click="editItem(movie.id)">Edit</a>
					        	<a ng-href="detail">Detail</a>
					        	<a ng-href="delete">Delete</a>
					        </td>
				      	</tr>
				    </tbody>
				</table>

				<!-- <ul class="movie-list">
					<li ng-repeat="(key, movie) in movies | filter:searchMovieText">
						<p><span>Title</span>: {{ movie.title }}</p>
						<p><span>Rank</span>: {{ movie.rank }}</p>
						<p><span>Movie ID</span>: {{ movie.id }}</p>
					</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>